<footer>
    <div class="line"></div>
    <div class="menus">

        <div class="footer1">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="footer1">
            <span>Domains</span>
            <a href="https://hustlerxero.in/internships/frontend-xeroship" target="_blank">Frontend Development</a>
            <a href="https://hustlerxero.in/internships/figma-xeroship" target="_blank">Figma Designing</a>
            <a href="https://hustlerxero.in/internships/autocad-xeroship" target="_blank">AutoCAD Designing</a>
        </div>
        <div class="footer1">
            <span>Company</span>
            <a href="/about-us">About Us</a>
            <a href="/support">Support</a>
            <a href="/blogs">Blogs</a>
        </div>
        <div class="footer1">
            <span>Resources</span>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/refund-policy">Refund Policy</a>
            <a href="/terms-and-conditions">Terms and Conditions</a>
        </div>
    </div>
    <div class="line"></div>
</footer>