<header>
    <div class="nav">
        <div class="logo">
            <a href="/">masterclass.hustlerxero.in</a>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/#masterclass">Live MasterClass</a>
            <a href="https://hustlerxero.in/" target="_blank">Internships</a>
            <a href="/about-us">About Us</a>
        </div>
    </div>
</header>