<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="icon" type="image/x-icon" href="/images/x.jpg">
    <link rel="stylesheet" href="/stylesheets/aboutus.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <%- include('partials/header') %>

        <div class="title">
            <h2>Our Hustle behind this!</h2>
        </div>

        <div class="box">
            <p>
                At Hustler.XERO, we believe that every student has the potential to acquire new skills and build a
                successful career. However, the key to unlocking this potential lies in having the right platform — one
                that
                empowers, inspires, and supports them from the very beginning. That's where we come in. <br><br>

                Hustler.XERO bridges the gap by providing live interactive sessions led by industry experts, offering
                real-world exposure through internships, and focusing on problem-based learning. Our platform is
                designed to
                nurture talent, encourage innovation, and equip students with the skills and confidence needed to excel
                in
                today’s competitive world. <br><br>

                Whether it’s working on major projects, gaining hands-on experience, or learning from seasoned
                professionals, we ensure students are always a step ahead in their career journey.
            </p>
        </div>

        <div class="profiles">
            <div class="person">
                <img src="/images/harshb.png" alt="">
                <h4>Mr. Harsh Bhamare</h4>
                <span>Chief Executive Officer</span>
            </div>
            <div class="person">
                <img src="/images/siddheshc.png" alt="">
                <h4>Mr. Siddhesh Chavan</h4>
                <span>Chief Operating Officer</span>
            </div>
            <div class="person">
                <img src="/images/shivamb.png" alt="">
                <h4>Mr. Shivam Badgujar</h4>
                <span>Chief Marketing Officer</span>
            </div>
        </div>

        <div class="btn">

            <a href="/">Go back to Home Page</a>

        </div>

        <%- include('partials/footer') %>
</body>

</html>