<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="icon" type="image/x-icon" href="/images/x.jpg">
    <link rel="stylesheet" href="/stylesheets/blogs.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <h6>We are working on Quality Blogs <br> Almost there! </h6>
    </div>

    <div class="btn">

        <a href="/">Go back to Home Page</a>

    </div>
    <%- include('partials/footer') %>
</body>
</html>