<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hustler.XERO : Learn from the Industry Experts Live Interactive</title>
    <meta name="description"
        content="Masterclass.HustlerXERO.in is a dynamic and innovative platform designed to bridge the gap between theoretical knowledge and practical expertise. We specialize in offering high-quality, live, and interactive learning experiences led by industry experts. Our mission is to empower learners by equipping them with the skills, insights, and tools needed to excel in today’s fast-evolving professional landscape.">
    <meta name="keywords" content="Masterclass,Hustler XERO,Interactive Learning,Live Sessions,Industry Experts,Affordable Courses,Certification Programs,Skill Development,Practical Learning,Problem-Based Education,Niche-Specific Keywords,Real-World Projects,Hands-On Training,Career Growth,Professional Development,Modern Curriculum,Dynamic Education Platform,Student Empowerment,Expert-Led Courses,Affordable Masterclasse,Innovative Learning Solutions,Trending/SEO-Friendly Keywords,
    Online Masterclass Platform,Live Interactive Classes,Upskill with Industry Experts,Certification for Professionals,Affordable Education Online,Job-Ready Skills,Future-Ready Learning,Customizable Courses,Career-Oriented Education,Next-Gen Learning,Support/Community Keywords,Student-Centric Platform,Collaborative Learning,Global Learning Community,One-on-One Mentorship,Networking Opportunities,Education Made Simple">
    <link rel="icon" type="image/x-icon" href="/images/x.jpg">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

    <%- include('partials/header') %>


        <div class="hero">
            <div class="left-section">
                <h1>Get Mentored <br> with Industry Experts</h1>
                <span>Live Interactive</span>
                <a href="/#masterclass">Check for upcoming MasterClass</a>
            </div>
            <div class="right-section">
                <div class="bar">
                    <img src="/images/Group9.png" alt="progress bar">
                </div>
                <div class="content">
                    <span>Every Mentorship session is Benchmark with Industry Standards.</span>
                    <span>We believe that Quality Mentorship must be delivered with proper Assessment.</span>
                    <span>Integrating Hustler sprit into your life.</span>
                    <span>We focus on Quality not quantity.</span>
                </div>
            </div>
        </div>

        <div class="stats">
            <div class="stat-1">
                <span>50+</span>
                <span>Mentorship Sessions</span>
            </div>
            <div class="stat-1">
                <span>10+</span>
                <span>Industry Aligned Projects</span>
            </div>
            <div class="stat-1">
                <span>10+</span>
                <span>Certificates Generated</span>
            </div>
        </div>

        <div class="masterclass">
            <h3>Upcoming Masterclass</h3>

            <div class="card-container" id="masterclass">
                <div class="card">
                    <div class="card-content">
                        <p class="certification">Certification Available</p>
                        <h3 class="date">26 and 27 January 2025</h3>
                        <h1 class="title">Resume and LinkedIn Profile Building Masterclass</h1>
                        <p class="description">Get hands-on knowledge to build your recruiter-friendly resume.</p>
                        <ul class="features">
                            <li>Live Interactive</li>
                            <li>Build your resume which will get you placed</li>
                            <li>Hustler Hard</li>
                        </ul>
                        <a href="https://payments.cashfree.com/forms/masterclass-hustler-xero"
                            class="register-btn">Register Here</a>
                        <p class="terms">* Terms and conditions applied. Kindly check them.</p>
                    </div>
                    <div class="card-image">
                        <img src="/images/Group 21.png" alt="mentor Image">
                        <div class="text-box">
                            <p>Sameer Bhale</p>
                            <p>Data Analyst at JP Morgan and Chase</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>






</body>

</html>