<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund Policy</title>
    <link rel="icon" type="image/x-icon" href="/images/x.jpg">
    <link rel="stylesheet" href="/stylesheets/refund.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('partials/header') %>

    <div class="title">
        <h2>Refund Policy</h2>
    </div>

    <div class="container">
        <p>At Masterclass.HustlerXERO.in, we are committed to delivering high-quality, interactive learning experiences. To maintain the integrity and efficiency of our platform, we have established the following refund policy: <br><br>

            No Refunds for Completed Payments
            Once payment is successfully processed, refunds will not be issued under any circumstances. We encourage users to carefully review their selected course or service before proceeding with payment.
            <br><br>
            Exceptions for Double Payments or Technical Issues
            Refunds will only be considered in cases of:
            <br><br>
            Double payments made for the same service.
            Technical glitches resulting in an incorrect deduction.
            Complaint and Support
            If you experience any issues or need assistance, please email us at support@hustlerxero.in with relevant details (e.g., payment receipt, error message). Our support team will address your concern promptly.
            <br><br>
            Platform Rights
            As a live, interactive platform, we reserve the right to make changes to our offerings, schedules, and policies as needed to enhance the user experience or adapt to unforeseen circumstances.
            <br><br>
            Customer Responsibility
            <br><br>
            All payments must be made through the official website (Masterclass.HustlerXERO.in) to ensure security and proper support.
            It is the user's responsibility to ensure that they meet all requirements for the selected course or service before enrollment.
            Dispute Resolution
            In case of disputes, our team will strive to resolve them amicably. However, our decision on refunds and platform changes will be final.
            <br><br>
            Thank you for choosing Masterclass.HustlerXERO.in. We value your trust and are dedicated to providing an enriching learning experience. If you have any queries, feel free to reach out to our support team.</p>
    </div>

    <div class="btn">

        <a href="/">Go back to Home Page</a>

    </div>
    <%- include('partials/footer') %>
</body>
</html>