<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support</title>
    <link rel="icon" type="image/x-icon" href="/images/x.jpg">
    <link rel="stylesheet" href="/stylesheets/support.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('partials/header') %>

    <div class="title">
        <h2>Support</h2>
    </div>

    <div class="container">
        <h3>For support mail us at <b>support@hustlerxero.in</b> <br> <br> WhatsApp us on <b>9529679073</b></h3>
    </div>

    <div class="btn">

        <a href="/">Go back to Home Page</a>

    </div>
    <%- include('partials/footer') %>
</body>
</html>