* {
    margin: 0;
    padding: 0;
    background-color: #111111;
    font-family: "Inclusive Sans", serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    padding-top: 20px;
}

.container p {
    background-color: #1D1D1D;
    color: white;
    padding: 30px;
    font-family: "Inclusive Sans", serif;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 300;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 0; /* Remove as centering takes care of it */
}

.title h2 {
    font-family: "Inclusive Sans", serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn a {
    font-family: "Inclusive Sans", serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    background: linear-gradient(to right, #FF5500, #DD8323);
    color: black;
    padding: 10px;
}

@media (max-width: 480px) {
    .container {
        width: 90vw;
        margin-top: 50px;
    }

    .container p {
        font-size: 14px;
        padding: 20px;
    }

    .title h2{
        margin-top: 50px;
    }
}
